<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Data Flex</title>
  </head>
  <body>
    <h1> Preprocess </h1>
    <p> This app will help you preprocess data for you and return important information you need like mean median and stuff like that </p>
    <!-- <div id="scoob_snack"></div> -->
    <p> upload files here in .csv format </p>
    
    <!-- <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script> -->

    <!-- Load our React component. -->
    <!-- <script src="like_scoob.js"></script> -->
  </body>
</html>